@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: "Nunito";
    font-size: smaller;
    /* Questo codice non fa da libreria!
    La best practice è quella di creare delle classi
    che non vanno a intaccare grosse parti del codice
    ma si possono applicare a piccole parti su progetti
    diversi, esattamente come per la classe .clearfix
    
    Altri esempi di classi libreria:
    .container80 70 60 ecc (%schermo)
    .padding1 2 3 ecc (padding pronti all'uso)
    tutto può fare libreria
    */
}

h1, .name{
    margin-bottom: 4%;
    margin-top: 3%;
    font-family: "Fredoka One";
    color: #e53270;
    font-weight: bold;
}

main{
    margin-top: 2%;
}

.mainContainer{
    width: 80%;
    margin: auto;
}

.cardContainer{
    float: left;
    width: calc(100% / 3);
    padding: 2%;
    box-shadow: 2px;
}

.card{
    background-color: black;
    color: white;
    width: 100%;
    font-family: "Nunito";
    font-size: smaller;
}

.card img{
    float: left;
    width: 100px;
    height: 100px;  
    vertical-align: middle;
}

.info{
    display: inline-block;
    margin: 5%;
    height: 100%;
    float: left;
    vertical-align: middle;
}

.name{
    color: white;
}

.email{
    color: lightskyblue;
}